@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Space+Grotesk:wght@300;400;500; 600;700&display=swap');

:root{
    --yellow-color: #FFFF00;
    --yellow-light: #f8f184;
    --blue-color : #19587d;
    --white-color:#FFF;
    --gradient-white:#eddebf67;
    --gradient-red:#890009;
    --black-color: #000;
}
h1{
    font-family: 'Rajdhani';
    font-size: 40px;
    font-weight: 400;
}
*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}   
button{
    font-family: 'Rajdhani';
    font-size: 20px;
    font-weight: 400;
}
.container{
    width: 80%;
    margin: 10px auto;
}
body{
    background-color: black;
    color: white;
    font-family: 'Space Grotesk';
    font-weight: 500;
}
/* Animations fade-in*/
h1, h2, h3, p, img, input{
    opacity: 0;
    position: relative;
    left: 0%;
    animation: fade-in 2s ease-out forwards;
}
@keyframes fade-in{
    0% {
      opacity: 0;
      left: -100%;
    }
    100% {
      opacity: 1;
      right: 0;
    }
}
/* lignes discrète*/
.up-bar{
    border-top: 2px solid #BCBBBD;
    position: relative;
    top: 132px;
    width: 84.5%;
    left: 102px
}
.right-bar{
    border-right: 2px solid #BCBBBD;
    position: absolute;
    width: 2px;
    height: 7310px;
    right: 102px;
}
.left-bar{
    border-left: 2px solid #BCBBBD;
    position: absolute;
    width: 2px;
    height: 7310px;
    left: 102px;
}

/*Responsive*/
@media (max-width: 600px) {
    .cont {
        width: 120%;
    }
    .logo {
        max-width: 80%;
    }
}

@media (min-width: 1200px) {
    .cont {
        width: 80%;
    }
    .logo {
        max-width: 120px;
    }
}
/* Design de la navigation */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}
ul{
    list-style: none;
    column-count: 2;

}
nav ul a{
    color: var(--white-color) ;
    font-size: 30px;
    font-weight: 300;
    font-family: 'Rajdhani';
    text-decoration: none; 
}
nav ul a:hover, a.active{
    color: var(--yellow-color);
    font-weight: bold;
    text-decoration: underline;
}
.logo:hover{
    -webkit-filter: invert(4%) sepia(100%) saturate(1680%) hue-rotate(352deg) brightness(109%) contrast(104%);
            filter: invert(4%) sepia(100%) saturate(1680%) hue-rotate(352deg) brightness(109%) contrast(104%);
}

/* Design section - hero */

#hero{
    background-image: url(../assets/game/Batgame_1.png);
    height: 80%;
    width: 100%;
    background-position-x: right;
    background-repeat: no-repeat;
    background-color: #0b0f11;
    background-size: cover;
}
#hero .content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 70%;
    padding-top: 300px;
    font-weight: bold;
    text-align: left;
}
#hero .texte{
    font-size: 20px;
    text-align: center;
    width: 55%;
    margin: 0 auto;
    font-family: 'Space Grotesk';
}
#hero .titre{
    margin: 50px 0;
    font-size: 30px;
}
.btn{
    text-decoration: none;
    color: var(--white-color);
    font-size: 22px;
    padding: 10px 40px;
    margin-top: 10px;
    background: linear-gradient(
        80deg,var(--gradient-white),var(--gradient-red)
    );
    box-shadow: var(--black-color) 15px 15px 50px;
    font-family: 'Rajdhani';
    opacity: 0.4; 
}
.btn:hover{
    opacity: 1;
}
#hero .fleche{
    display: block;
    margin: 0 auto;
    margin-top: 500px;
}
#hero .fleche:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.scroll {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    right: 50px;
    top: 230px;
}
.scroll .social{
    margin-top: 15px;
}
.scroll .social:hover{
    -webkit-filter: invert(4%) sepia(100%) saturate(1680%) hue-rotate(352deg) brightness(109%) contrast(104%);
            filter: invert(4%) sepia(100%) saturate(1680%) hue-rotate(352deg) brightness(109%) contrast(104%);
}




/* Design - footer */

footer{
    margin-top: 170px;
}
footer .text-footer{
text-align: center;
font-size: 14px;
font-family: 'Space Grotesk';
}
footer .text-footer img{
    position: relative;
    top: 15px;
    margin: 8px;
}
footer .social-footer{
    text-align: center;
    margin: 50px 0;
}
footer .social-footer .social-item{
    padding: 15px;
}
.social-item:hover{
    -webkit-filter: invert(4%) sepia(100%) saturate(1680%) hue-rotate(352deg) brightness(109%) contrast(104%);
    filter: invert(4%) sepia(100%) saturate(1680%) hue-rotate(352deg) brightness(109%) contrast(104%);
}
footer .social-footer .logo-item{
    position: relative;
    top: 10px;
    padding: 10px;
}
.logo-item:hover{
    -webkit-filter: invert(4%) sepia(100%) saturate(1680%) hue-rotate(352deg) brightness(109%) contrast(104%);
    filter: invert(4%) sepia(100%) saturate(1680%) hue-rotate(352deg) brightness(109%) contrast(104%);
}
.wb:hover{
    -webkit-filter: invert(4%) sepia(100%) saturate(1680%) hue-rotate(352deg) brightness(109%) contrast(104%);
    filter: invert(4%) sepia(100%) saturate(1680%) hue-rotate(352deg) brightness(109%) contrast(104%);
}
