@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Space+Grotesk:wght@300;400;500; 600;700&display=swap');

:root{
    --yellow-color: #FFFF00;
    --yellow-light: #f8f184;
    --blue-color : #19587d;
    --white-color:#FFF;
    --gradient-white:#eddebf67;
    --gradient-red:#890009;
    --black-color: #000;
}
h1{
    font-family: 'Rajdhani';
    font-size: 36px;
    font-weight: 400;
}
*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}   
button{
    font-family: 'Rajdhani';
    font-size: 20px;
    font-weight: 400;
}
.container{
    width: 80%;
    margin: 10px auto;
}
body{
    background-color: black;
    color: white;
    font-family: 'Space Grotesk';
    font-weight: 500;
}
/* Animations fade-in
h1, h2, h3, p, img, input{
    opacity: 0;
    position: relative;
    left: 0%;
    animation: fade-in 2s ease-out forwards;
}
@keyframes fade-in{
    0% {
      opacity: 0;
      left: -100%;
    }
    100% {
      opacity: 1;
      right: 0;
    }
}
*/
.fade-in-start {
    animation-name: fade-in;
    animation-duration: 3s;
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateX(-3.125em);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.fade-in-right {
    animation-name: fade-in-right;
    animation-duration: 3s;
}
@keyframes fade-in-right {
    from {
        opacity: 0;
        transform: translateX(3.125em);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}


/* lignes discrète*/
.up-bar{
    border-top: 2px solid #BCBBBD;
    position: relative;
    top: 132px;
    width: 84.5%;
    left: 102px
}
.right-bar{
    border-right: 2px solid #BCBBBD;
    position: absolute;
    width: 2px;
    height: 7420px;
    right: 102px;
}
.left-bar{
    border-left: 2px solid #BCBBBD;
    position: absolute;
    width: 2px;
    height: 7420px;
    left: 102px;
}

/*Responsive*/
@media (max-width: 600px) {
    .cont {
        width: 120%;
    }
    .logo {
        max-width: 80%;
    }
}

@media (min-width: 1200px) {
    .cont {
        width: 80%;
    }
    .logo {
        max-width: 120px;
    }
}
/* Design de la navigation */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}
ul{
    list-style: none;
    column-count: 2;

}
nav ul a{
    color: var(--white-color) ;
    font-size: 30px;
    font-weight: 300;
    font-family: 'Rajdhani';
    text-decoration: none; 
}
nav ul a:hover, a.active{
    color: var(--yellow-color);
    font-weight: bold;
    text-decoration: underline;
}
.logo:hover{
    -webkit-filter: invert(4%) sepia(100%) saturate(1680%) hue-rotate(352deg) brightness(109%) contrast(104%);
            filter: invert(4%) sepia(100%) saturate(1680%) hue-rotate(352deg) brightness(109%) contrast(104%);
}

/* Design section - hero */

#hero {
    background-image: url(../assets/Home/Bathome1.png);
    height: 1100px;
    background-position: top center;
    background-repeat: no-repeat;
    background-color: #0b0f11;
    background-size: cover;
}
.content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 60%;
    margin: 0 auto;
    padding-top: 300px;
}
#hero .texte{
    font-size: 20px;
    text-align: center;
    width: 55%;
    margin: 0 auto;
    font-family: 'Space Grotesk';
}
#hero .titre{
    margin: 50px 0;
    font-size: 30px;
}
.btn{
    text-decoration: none;
    color: var(--white-color);
    font-size: 22px;
    padding: 10px 40px;
    margin-top: 10px;
    background-image: linear-gradient(to right ,rgb(237, 222, 191) 40%, rgb(137, 0, 8) 60%);
    cursor: pointer;
    box-shadow: var(--black-color) 15px 15px 50px;
    font-family: 'Rajdhani';
    opacity: 0.6; 
}
.btn:hover{
    opacity: 1;
}
#hero .fleche{
    display: block;
    margin: 0 auto;
    margin-top: 270px;
}
#hero .fleche:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.scroll {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    right: 50px;
    top: 230px;
}
.scroll .social{
    margin-top: 15px;
}
.scroll .social:hover{
    -webkit-filter: invert(4%) sepia(100%) saturate(1680%) hue-rotate(352deg) brightness(109%) contrast(104%);
            filter: invert(4%) sepia(100%) saturate(1680%) hue-rotate(352deg) brightness(109%) contrast(104%);
}

/* Design section -Batman personnage */

.batman-personnage{
    display: flex;
    position: relative;
    justify-content: space-between;
    padding-right: 30%;
}
.batman-item{
    margin: 20px;
    position: relative;
}
.batman-item:hover{
    transform: scale(1.1);
    transition: .5s;
}
.actor {
    visibility: hidden;
    position: absolute;
    bottom: 5px;
    text-align: center;
    align-items: center;
    z-index: 1;
    background-color: rgba(100, 85, 54, .3);
    width: 100%;
    height: 30%;
    border: 1px solid rgba(100, 85, 54, .7);
    padding-left: 10px;
    padding-bottom: -10%;
    border-radius: -1em;
}

.personnage-info img {
    position: relative;
    width: 5em;
    height: 5em;
    border-radius: 10%;
    margin-left: 20px;
    margin-top: 10px;
}

.personnage-info h3 {
   margin-left: 1em;
}

.personnage-info p{
   filter: invert(6%) sepia(85%) saturate(5811%) hue-rotate(6deg) brightness(87%) contrast(109%);;
}

.batman-item:hover .actor {
    visibility: visible;
    animation-name: slide-top;
    animation-duration: 3s;
}

@keyframes slide-top {
    from {
        opacity: 0;
        transform: translateY(-4em);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#batman-cinéma, #batman-adversaires, #batman-alliés, #batman-justice-league, #multimédia{
    margin-top: 90px;
}
.titre{
    text-transform: uppercase;
    font-weight: bold;
    margin: 20px 0;
    position: relative;
    z-index: 1;
}
.description{
    margin-bottom: 50px;
    margin-top: -10px;
    text-align: justify;
    width: 85%;
    font-size: 25px;
    font-family: 'Space Grotesk';
}

#némésis{
    position: relative;
    display:block;
    bottom: 80px;
    left: 200px;
    z-index: 2;
    width:8%;
}
.alliés{
    position: relative;
    display: flex;
    margin-top: -20%;
    top: 50px;
    left: 70%;
    width: 30%;
    z-index: 3;
}

/* Design section - multimédia */

#multimédia button{
    position: relative;
    top: 155px;
    background: none;
    border: none;
    cursor: pointer;
}
#multimédia button:hover{
    transform: scale(1.1);
}
#multimédia button.right{
    right: -85%;
}
#multimédia .slider-multimédia{
    display: flex;
    width: 41%;
    margin: 30px auto;
    font-family: 'Space Grotesk';
}
#multimédia .slider-image{
    position: relative;
    width: 200px;
    height: 50px;
}
#multimédia .slider-content{
    padding: 5px 10px;
    background: linear-gradient(90deg,#eddebf, #102830);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}  
#multimédia p{
    font-size: 14px;
    padding: 2px;
}
#multimédia  h2{
    font-size: 10px;
    padding: 2px;
}
#multimédia h3{
    font-size: 20px;
    padding: 2px;
}
#multimédia .yellow{
    color: var(--yellow-color);
}
#multimédia .image-bande-annonce{
    position: relative;
    opacity: 0.6; 
    text-align: center;
    padding: 10px -50px;
    border: none;
}
#multimédia .image-bande-annonce:hover{
    opacity: 1;
    filter: drop-shadow(10px 5px 10px #fff);
}
.annonce{
    position: relative;
    z-index: 1;
}
.player{
    position: absolute;
    z-index: 2;
    left: 43.5%;
    top: 38%;
} 
.player:hover{
    transform: scale(1.1);
}

/* Désign section - formulaire*/

#contact{
    background-image: linear-gradient(50deg,#eddebf, #102830);
    background-color: transparent;
    padding: 70px;
}
#contact .form{
    width: 70%;
    margin: 0 auto;
    font-family: 'Rajdhani';
}
#contact h2{
    text-align: center;
    font-size: 32px;
    margin-bottom: 32px;
    text-transform: uppercase;
    font-family: 'Rajdhani';
}
#contact .titre{
    display: block;
    margin: 30px 0;
    font-size: 20px;
}

#contact .form input[type='email'], textarea, .holder, .news, .icon{
    display: flex;
    border-top: none;
    border-right: none;
    border-left: none;
    width: 80%;
    border-bottom: 2px solid rgb(167, 167, 167);
    background-color: transparent;
    padding: 5px;
    margin: 30px 0;
}
#contact .coch, .news{
    margin-bottom: 20px;
    color: rgb(100, 85, 54);
}
#contact .btn-grp{
    margin-right: 200px;
}
::-webkit-input-placeholder{
    color: rgb(100, 85, 54);
    font-size: 15px;
    }

::-moz-placeholder{
    color:rgb(100, 85, 54);
    font-size: 15px;
    }

:-ms-input-placeholder{
    color: rgb(100, 85, 54);
    font-size: 15px;
    }

::-ms-input-placeholder{
    color: rgb(100, 85, 54);
    font-size: 15px;
    }

::placeholder{
    color:rgb(100, 85, 54);
    font-size: 15px;
    }

/*Design menu déroulant*/
 #contact .frequency{
    position: relative;
    list-style: none;
    background: transparent;
    text-align: justify;
    margin-top: 20px;
    border-bottom: 2px solid rgb(167, 167, 167);
    width: 80%;
}
#contact select{
    display: none;
    margin-top: 0.225vw;
    width: 100%;
    background: transparent;
    border: none;
    color: rgb(100, 85, 54);
    background-color: linear-gradient(to right, rgb(100, 85, 54), rgb(0, 50, 50));
}
#contact .select-selected{
    color: var(--gradient-white);
    background-color: linear-gradient(to right, rgb(100, 85, 54), rgb(0, 50, 50));
    padding: 2% 3%;
    border: none;
    cursor: pointer;
    font-size: 0.875em;
}
#contact option{
    position: absolute;
    border: none;
    width: 0;
    height: 0;
    background-color: linear-gradient(to bottom right, rgb(100, 85, 54), rgb(0, 50, 50));
}
/* Style the arrow inside the select element: */
.select-selected:after {
    position: absolute;
    content: "";
    top: 1.25vw;
    right: 0.625vw;
    width: 0;
    height: 0;
    border: 0.9375em solid transparent;
    border-color: rgb(100, 100, 100) transparent transparent transparent;
    background-image: linear-gradient(to bottom right, rgb(100, 85, 54), rgb(0, 50, 50));
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
    color: #ffffff;
    padding: 2% 3%;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    font-size: 0.875em;
    color: #aaa;
}

/* Style items (options): */
.select-items {
    position: absolute;
    background-color: transparent;
    background-image: linear-gradient(to bottom right, rgb(100, 85, 54), rgb(0, 50, 50));
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    color: #aaa;
}

/* Hide the items when the select box is closed: */
.select-hide {
    display: none;
}

.select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}

.text-muted {
    color: #888;
    font-size: 0.875em;
}
/*Design groupe de bouton*/
.btn-grp{
    margin: 10px 20px;
    display: flex;
    justify-content: space-between;
}
.films{
    text-decoration: none;
    border: 2px solid;
    padding: 10px;
    border-image: linear-gradient(
        69deg,#eddebf67,#19587d
      ) 1;
    font-size: 20px;
    color: var(--white-color)
}
.films:hover{
    background: linear-gradient(90deg,#eddebf, #102830);
    }
.comics{
    text-decoration: none;
    border: 2px solid;
    padding: 10px;
    border-image: linear-gradient(
            69deg,#eddebf67,#19587d
          ) 1;
    font-size: 20px;
    color: var(--white-color)
}
.comics:hover{
    background: linear-gradient(90deg,#eddebf, #102830);
    }
.tout{
    text-decoration: none;
    border: 2px solid;
    padding: 10px;
    border-image: linear-gradient(
            69deg,#eddebf67,#19587d
          ) 1;
    font-size: 20px;
    color: var(--white-color)
}
.tout:hover{
    background: linear-gradient(90deg,#eddebf, #102830);
    }

/*Design Confirmer*/ 
.button {
    display: block;
    width: 230px;
    margin: 25px auto;
    cursor: pointer;
    text-decoration: none;
    color: var(--white-color);
    font-size: 20px;
    padding: 10px 40px;
    background-image: linear-gradient(to bottom right, rgb(237, 222, 191), rgb(137, 0, 8));
    font-family: 'Rajdhani';
    text-transform: uppercase;
    border: none;
    text-align: center;
  }
  .button:hover {
    background: linear-gradient(90deg,#eddebf, #102830);
  }

/* Design Popup*/
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--white-color);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 2;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background:  linear-gradient(90deg,#eddebf, #102830);
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: var(--white-color);
    font-family:'cantarell';
    text-transform: capitalize;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: var(--grayish-color);
  }
  .popup .close:hover {
    color: var(--white-color);
  }
  @media screen and (max-width: 700px){
    .popup{
      width: 70%;
    }
  }
/* Design section - citation*/

#citations{
    margin: 90px;
    font-family: 'Rajdhani';
}

#citations .citation-carte{
    text-align: center;
    width: 25%;
    margin: 0 auto;
    font-weight: bold;
    
}
#citations .citation-auteur{
    padding-top: 30px;
    font-size: 15px;
    text-align: center;
}
#citations .guillemet-close{
    float: right;
}


#rond{
    display: flex;
    text-align: center;
    justify-content: space-between;
    width: 20%;
}

#rond .plein{
    list-style-type: disc;
}

#rond .vide{
    list-style-type: circle;
}

#rond li{
    color: #0033cc;
}

#cercle {
    position: relative;
    align-items: center;
    margin: 50px;
}

/* Design - footer */

footer{
    margin-top: 170px;
}
footer .text-footer{
text-align: center;
font-size: 14px;
font-family: 'Space Grotesk';
}
footer .text-footer img{
    position: relative;
    top: 15px;
    margin: 8px;
}
footer .social-footer{
    text-align: center;
    margin: 50px 0;
}
footer .social-footer .social-item{
    padding: 15px;
}
.social-item:hover{
    -webkit-filter: invert(4%) sepia(100%) saturate(1680%) hue-rotate(352deg) brightness(109%) contrast(104%);
    filter: invert(4%) sepia(100%) saturate(1680%) hue-rotate(352deg) brightness(109%) contrast(104%);
}
footer .social-footer .logo-item{
    position: relative;
    top: 10px;
    padding: 10px;
}
.logo-item:hover{
    -webkit-filter: invert(4%) sepia(100%) saturate(1680%) hue-rotate(352deg) brightness(109%) contrast(104%);
    filter: invert(4%) sepia(100%) saturate(1680%) hue-rotate(352deg) brightness(109%) contrast(104%);
}
.wb:hover{
    -webkit-filter: invert(4%) sepia(100%) saturate(1680%) hue-rotate(352deg) brightness(109%) contrast(104%);
    filter: invert(4%) sepia(100%) saturate(1680%) hue-rotate(352deg) brightness(109%) contrast(104%);
}
